fastapi
uvicorn
scikit-learn
joblib
pydantic>=2
email-validator>=2
pyspark==3.5.2
apache-airflow==2.8.1
confluent-kafka==2.5.0
kafka-python==2.0.2
gtfs-realtime-bindings==1.0.0
boto3==1.34.162
s3fs==2024.2.0
google-cloud-bigquery==3.25.0
snowflake-connector-python==3.12.1
pandas==2.2.2
pyarrow==17.0.0
scikit-learn==1.5.1
pydantic==2.8.2
pyyaml==6.0.2
python-dotenv==1.0.1
requests==2.32.3
tenacity==9.0.0
great-expectations==0.18.22
pylint==3.2.6
black==24.8.0
ruff==0.6.4
mypy==1.11.2
pytest==8.3.2
types-PyYAML==6.0.12.20240808
