services:
  airflow:
    build: .
    container_name: infrastructure-airflow-1
    ports:
      - "8090:8080"

    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=
      - _AIRFLOW_WWW_USER_USERNAME=
      - _AIRFLOW_WWW_USER_PASSWORD=
      - PYTHONPATH=/opt/airflow/src
      - GOOGLE_APPLICATION_CREDENTIALS=

      # AWS credentials
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=eu-west-1

    volumes:
      - ../airflow/dags:/opt/airflow/dags
      - ../src:/opt/airflow/src
      - airflow_home:/opt/airflow
      - ../secrets:/opt/airflow/secrets

    command: airflow standalone

  ml-api:
    build:
      context: ..
      dockerfile: Dockerfile.api
    container_name: transport-ml-api
    ports:
      - "8001:8000"
    volumes:
      - ../src:/app/src

volumes:
  airflow_home:
